[Unit]
Description=Gunicorn instance to serve 0-hbnb_route
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v2
Environment="PATH=/home/ubuntu/AirBnb_clone_v2/Virt/bin"
ExecStart=/home/ubuntu/AirBnB_clone_v2/Virt/bin/gunicorn --workers 3 --bind unix:0-hello_route.sock -m 007 wsgi:app

[Install]
gantedBy=multi-user.target
